{% extends 'Main/base.html' %}
{% block content %}
{% load static %}
        <!-- Hero/Intro Slider Start -->
        <div class="section ">
            <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                <!-- Hero slider Active -->
                <div class="swiper-wrapper">
                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="assets/images/hero/bg/hero-bg-2-1.webp">
                        <div class="container h-100">
                            <div class="row h-100 flex-row-reverse">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                    <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                       <h2 class="title-1">Simplify Your Lifestyle <br>
                                        with Fresh and Smart Choices </h2>
                                        <span class="price">
                                            <span class="mini-title"></span>
                                        <span class="amount"></span>
                                        </span>
                                        <a href="{% url 'products' %}" class="btn btn-primary text-capitalize">Shop All Products</a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                    <div class="show-case">
                                        <div class="hero-slide-image slider-2">
                                            <img src="{% static 'assets/images/main2/main.png' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="{% static 'assets/images/main3/main2.jpg' %}' %}">
                        <div class="container h-100">
                            <div class="row h-100 flex-row-reverse">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                    <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                        <h2 class="title-1">Fresh, local veggies <br>
                                        delivered to your doorstep </h2>
                                        <span class="price">
                                            <span class="mini-title"></span>
                                        <span class="amount"></span>
                                        </span>
                                        <a href="{% url 'products' %}" class="btn btn-primary text-capitalize">Shop All Products</a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                    <div class="show-case">
                                        <div class="hero-slide-image slider-2">
                                            <img src="{% static 'assets/images/main3/main3.png' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Hero/Intro Slider End -->
        <!-- Banner Area Start -->
<div class="banner-area style-two pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-banner nth-child-2 mb-lm-30px">
                    <img src="{%static 'assets/images/main2/cabage.jpg' %}" alt="">
                    <div class="banner-content nth-child-3">
                        <h3 class="title">Cabbage</h3>
                        <span class="category">From Rs.100</span>
                        <a href="{% url 'products' %}" class="shop-link" style="background-color: #46C589;">
                            Shop Now <span class="arrow-right" style="margin-left: 5px;">&#8594;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-banner nth-child-2">
                    <img src="{%static 'assets/images/main2/carrot.jpg' %}" alt="">
                    <div class="banner-content nth-child-2">
                        <h3 class="title">Carrot</h3>
                        <span class="category">From Rs.150</span>
                        <a href="{% url 'products' %}" class="shop-link" style="background-color: #46C589;">
                            Shop Now <span class="arrow-right" style="margin-left: 5px;">&#8594;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Product Area Start -->
        <div class="product-area pb-100px" >
            <br>
            <div class="container">
                <!-- Section Title & Tab Start -->
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">New Products</h2>
                            <p>Fresh, local veggies delivered to your doorstep</p>
                        </div>
                    </div>
                </div>
                <!-- Section Title & Tab End -->
                <div class="row">
                    <div class="col">
                        <div class="row mb-n-30px">
                        {% for prod in product %}
                            <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                <!-- Single Product -->
                                <div class="product">

                                    {% if prod.condition == 'No' %}

                                    {% else %}
                                        <span class="badges">
                                            <span class="new">{{ prod.condition }}</span>
                                        </span>
                                    {% endif %}
                                    <div class="thumb">
                                        <a href="/products/{{ prod.id }}" class="image">
                                            <img src="{{prod.image}}" alt="Product" style="height:250px; " />
                                            <img class="hover-image" src="{{prod.image}}" alt="Product" />
                                        </a>
                                    </div>
                                    <div class="content">
                                            <br>
                                        <span class="category"><a href="#">{{prod.categories}}</a></span>

                                        <h5 class="title"><a href="#">{{prod.name | truncatewords:10}}
                                            </a>
                                        </h5>
                                        <span class="price">
                                            <span class="new">Rs.{{prod.price}}</span>
                                        </span>
                                    </div>
                                    <div class="actions">
                                                <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}"><i class="pe-7s-cart"></i></button>
                                                <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ forloop.counter }}"><i class="pe-7s-look"></i></button>
                                     </div>
                                </div>
                            </div>
                  {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="banner-area style-three pb-100px" style="background-color: #DFF4F2;">
     <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-banner mb-lm-30px">
                    <img src="{%static 'assets/images/main2/p1.jpg' %}" alt="">
                    <div class="banner-content nth-child-3">
                        <h3 class="title" style="color: rgb(255, 255, 255);">All types of <br>Vegetables</h3>
                        <span class="category" style="color: rgb(255, 255, 255);">From Rs.60</span>
                        <a href="{% url 'products' %}" class="shop-link" style="background-color: #46C589; padding: 10px 20px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; margin-top: 10px; text-align: center;">
                            Shop Now <span style="font-size: 14px;">➔</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-banner">
                    <img src="{%static 'assets/images/main2/p2.jpg' %}" alt="">
                    <div class="banner-content nth-child-2">
                        <h3 class="title" style="color: rgb(255, 255, 255);">All types of <br>Fruits</h3>
                        <span class="category" style="color: rgb(255, 255, 255);">From Rs.100 </span>
                        <a href="{% url 'products' %}" class="shop-link" style="background-color: #46C589; padding: 10px 20px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; margin-top: 10px; text-align: center;">
                            Shop Now <span style="font-size: 14px;">➔</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Feature product area start -->
        <div class="feature-product-area pb-100px" style="background-color: #DFF4F2;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">Featured Offers</h2>
                            <p>Discover the essence of quality and freshness on our platform</p>
                        </div>
                    </div>
                </div>
                <div class="feature-product-slider swiper-container slider-nav-style-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide feature-right-content">
                            <div class="image-side">
                                <img src="{%static 'assets/images/feature-image/4.png' %}" alt="">

                            </div>
                            <div class="content-side">
                                <div class="deal-timing" style="background-color: #4CAF90;">
                                    <span>End In:</span>
                                    <div data-countdown="2021/09/15"></div>
                                </div>
                                <div class="prize-content">
                                    <h5 class="title"><a href="single-product.html">Bell Pepper </a></h5>
                                    <span class="price">
                                <span class="old">Rs.240</span>
                                    <span class="new">Rs.200</span>
                                    </span>
                                </div>
                                <div class="product-feature">
                                    <ul>
                                        <li>Origin: <span>Farm Fresh.</span></li>
                                        <li>Variety: <span>Bell Pepper.</span></li>
                                        <li>Support Type: <span>Rich Nutrients.</span></li>
                                        <li>Texture: <span>Crisp and Flavorful.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide feature-right-content">
                            <div class="image-side">
                                <img src="{%static 'assets/images/feature-image/5.png' %}" alt="">
                            </div>
                            <div class="content-side">
                               <div class="deal-timing" style="background-color: #4CAF90;">
                                    <span>End In:</span>
                                    <div data-countdown="2021/09/15"></div>
                                </div>
                                <div class="prize-content">
                                    <h5 class="title"><a href="single-product.html">Pineapple</a></h5>
                                    <span class="price">
                                <span class="old">Rs.250</span>
                                    <span class="new">Rs.170</span>
                                    </span>
                                </div>
                                <div class="product-feature">
                                    <ul>
                                        <li>Origin: <span>Farm Harvested.</span></li>
                                        <li>Variety: <span>Pineapple.</span></li>
                                        <li>Support Type: <span>Sweetened.</span></li>
                                        <li>Texture: <span>Juicy and Tropical.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fashion Area Start -->
<div class="fashion-area" data-bg-image="assets/images/fashion/fashion-bg.webp" style="background-color: #4CAF90" >
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 text-center">
                <h2 class="title">Explore <span>Fresh Produce</span> with Smart Choices</h2>
                <a href="{% url 'products' %}" class="btn btn-primary text-capitalize m-auto" style="background-color: #265C4E;">Shop All Products</a>
            </div>
        </div>
    </div>
</div>
<div class="feature-area pt-100px pb-100px" >
    <div class="container" >
        <div class="feature-wrapper" >
            <div class="single-feture-col mb-md-30px mb-lm-30px" >
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon" style="background-color: #46C589;">
                        <img src="{%static 'assets/images/icons/1.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Enjoy free shipping</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon" style="background-color: #46C589;">
                        <img src="{%static 'assets/images/icons/2.png' %}" alt="">
                    </div>
                    <div class="feature-content" >
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">We secure you</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon" style="background-color: #46C589;">
                        <img src="{%static 'assets/images/icons/3.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


